<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049799905726-dp0guee0r5j3lpoa4bqdtp8p01mjc188.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049799905726-dp0guee0r5j3lpoa4bqdtp8p01mjc188</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1049799905726-7om8t01jbrj3gtci3mgoh1n6faccgglt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-AkFmnH8rDtu0aHZuB7okaF69yl5oAh0</string>
	<key>GCM_SENDER_ID</key>
	<string>1049799905726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopmartAdmin</string>
	<key>PROJECT_ID</key>
	<string>shopping-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049799905726:ios:b45833906129600f67e9ef</string>
</dict>
</plist>